<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <a href="/">Return home.</a>
    </div>
    {{>footer}}
</body>

</html>